.krestiki_noliki{
    width: 306px;
    margin: 0 auto;
}
.krestiki_noliki .block{
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
    text-align: center;
    font-size: 100px;
    line-height: 94px;
}
.restart{
    text-align: center;
    padding-top: 100px;
}
.restart a{
    display:inline-block;
    padding:10px 20px;
    background-color: brown;
    color:#fff;
}